/* wrapper */
#wrapper {
	display:block;
	position:relative;
	width:100%;
	min-height: 100%;
}
.layout {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	position: relative;
	width: 800px;
}
main {
	display:block;
	width:100%;
	min-height: 90vh;
	position: relative;
	color: $font-color-dark;
}
#content{
	position: relative;
	padding-bottom: 90px;
}
#sidebar {
	position: relative;
}
aside{
	position: relative;
}
