/* wrapper */
#wrapper {
	display:block;
	position:relative;
	width:100%;
	min-height: 100%;
	font-family: "Roboto-Regular";
}
.layout {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	padding: 0 25px;
	position: relative;
	width: 650px;
}
main {
	display:block;
	width:100%;
	min-height: 88vh;
	position: relative;
	color: $font-color-dark;
}
.flex {
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#content{
	width: 650px;
	height: auto;
	position: relative;
	// margin-top: 20vh;
	// margin-bottom: 20vh;
	margin: 20vh 25px;
	padding: 0 25px 90px 25px;
	text-align: center;
}
#sidebar {
	position: relative;
}
aside{
	position: relative;
}
footer {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 100px;
	color: $font-color-light;
	background: #212529;
}
.column {
	flex-direction: column;
}

@media screen and (max-width: 650px) {
	.layout,
	#content {
		width: 320px;
		padding: 0 10px;
	}
	main {
		padding-bottom: 80px;
	}
}

// @media screen and (min-width: 568px) and (max-width: 811px) {
// 	.layout,
// 	#content {
// 		width: 568px;
// 		padding: 0 10px;
// 	}
// }

// @media screen and (min-width: 812px) and (max-width: 1279px) {
// 	.layout,
// 	#content {
// 		width: 812px;
// 		padding: 0 10px;
// 	}
// }

// @media screen and (min-width: 1280px) and (max-width: 1599px) {
// 	.layout,
// 	#content {
// 		width: 1280px;
// 		padding: 0 10px;
// 	}
// }

// @media screen and (min-width: 1600px) {
// 	.layout,
// 	#content {
// 		width: 1600px;
// 		padding: 0 10px;
// 	}
// }

// @import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
