.layout {
    .lastResult {
        color: white;
        padding: 3px;
        margin: 5px 0;
    }
    .guessField {
        margin: 0 auto;
    }
    .content_description {
        margin-bottom: 25px;
    }
    .guesses {
        margin-top: 10px;
    }
}